body {

}

h1 {

}

p {

}

ul {

}

li {

}

header {

}

.navbar {

}

.container-header {

}

.brand {

}

section.player {

}

.container-player {

}

#playAudio {

}

.submit-button {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.submit-button:hover {
    background-color: green;
}

button.play {

}

button.pause {

}

section.warning{

}

.container-warning {

}

section.main {

}

.container-main {

}

footer {

}

.container-footer {

}

.copyright {

}